* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

#main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgb(180, 249, 180);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.panel{
    overflow: hidden;
    width: 80%;
    height: 80%;
    background-color: white;
    border-radius: 10px;
}

.ptop{
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20%;
    width: 100%;
    height: 100px;
    background-color: rgb(42, 85, 42);
}

.elem{
    display: flex;
    align-items: center;
    gap: 20px;
}

.box{
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    color: rgb(9, 49, 13);
    font-weight: 700;
    font-size: 20px;
}

.pbottom{
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100% - 100px);  
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px
    
}

.bubble{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color: rgb(56, 124, 24);
    color: white;
    border-radius: 50%;
}

.bubble:hover{
    background-color: rgb(42, 94, 18);
    cursor: pointer;
}